@import 'tailwindcss';

@theme {
    --color-base-1: #e0fbfc;
    --color-base-2: #98c1d9;
    --color-base-3: #ee6c4d;
    --color-base-4: #3d5a80;
    --color-base-5: #293241;
    --font-mono: 'Fira Code', monospace;
}

@layer components {
    .form-container {
        @apply bg-base-4 text-base-1 mt-5 mb-4 max-w-xl rounded-xl p-6 shadow-md;
    }

    .form-label {
        @apply text-base-1 mb-1 text-sm font-medium;
    }

    .form-input {
        @apply bg-base-3 text-base-1 border-base-3 w-full cursor-copy rounded-md border p-2 focus:ring-2 focus:outline-none;
    }

    h1 {
        @apply text-base-1 w-full text-center text-4xl font-bold;
    }

    .system {
        @apply mt-10 p-1;
    }
}
