@import 'tailwindcss';

@theme {
    --color-1: #ffffff;
    --color-2: #bbbbbb;
    --color-3: #888888;
    --color-4: #444444;
    --color-5: #000000;
    --font-mono: 'Fira Code', monospace;
}

@layer components {
    .form-container {
        @apply bg-5 text-1 w-full max-w-xl rounded-xl p-6 shadow-md;
    }

    .form-label {
        @apply text-1 mb-1 text-sm font-medium;
    }

    .form-input {
        @apply bg-4 text-1 w-full rounded-md border border-3 p-2 focus:ring-2 focus:outline-none;
    }
}
